.banner2 {
    background-image: linear-gradient(rgba(0,0,0.2,0.4),rgba(0, 0, 0, 0.692)), url(https://img.freepik.com/foto-gratis/varios-simbolos-cine_23-2147698942.jpg?w=2000&t=st=1677294010~exp=1677294610~hmac=4aa9604ed292b63dde6f8e55d199371dac49fa97fc03edd6010c4e472e86bff9);
    background-size: cover;
    background-position: center;
    padding: 80px 0;
    color: white;
    margin: 0;
    font-weight: bold;
    text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
    justify-content: center;
    text-align: center;
    height: 500px;
}

.img-ban {
    margin-left: 30px;
}

.title {
    text-align: center;
    font-size: 70px;
    width: 900px;
    margin-top: 150px;
}

.title2{
    font-size: 30px;
    font-weight: 400;
}

.text {
    text-align: center;
}

.md {
    padding-top: 20px;
}

.opcion {
    text-align: center;
    font-size: 25px;
}

.text-1 {
    font-size: 20px;
    color: #452086;
    font-weight: bolder;
    padding-right: 100px;
}

.social {
    padding-right: 20px;
    color: #9575cd;
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 100px;
}