.form-list {
    margin-top: 10px;
    margin-left: 30px;
    margin-right: 30px;
}

.btn-h {
    width: 200px;
    height: 35px;
    border-radius: 2px;
    border: 1px solid red;
    font-size: 14px;
    color: white;
    background-color: red;
    font-weight: bold;
}

