.registro {
    margin-top: 10px;
    margin-left: 500px;
}

.submit {
    margin-right: 20px;
    width: 180px;
    height: 35px;
    border-radius: 5px;
    border: 1px solid #9575cd;
    font-size: 15px;
    color: white;
    background-color: #9575cd;
}

.btn-c {
    width: 200px;
    height: 35px;
}

.form-2 {
    margin-top: 47%;
    margin-left: 50px;
}

.users {
    margin-top: 18px;
    margin-left: 500px;
}

label {
    font-weight: bold;
    padding-right: 220px;
}

.img-regist {
    width: 100vh;
    height: 105vh;
}

.row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
}

.column {
    display: flex;
    flex-direction: column;
    flex-basis: 100%;
    flex: 1;
}