.asd{
    background: linear-gradient(rgba(0, 0, 0, 0), rgb(0, 0, 0));
    position: absolute;
    top: 500px;
    z-index: 2;
    height: 200px;
    width: 100%
}

.fondolista{
    background-color: black;
    width: 100%;
    position: absolute;
    top: 700px;
    z-index: 2;
    height: 400px;
}

.list{
    width: 100%;
    margin-top: 10px;
}

.listTitle{
    color: white;
    font-size: 20px;
    font-weight: 500;
    margin-left: 50px;
}

.wrapper{
    position: relative;
}

.container5{
    margin-left: 50px;
    margin-top: 10px;
    transform: translateX(0px);
    display: flex;
    margin-bottom: 20px;
}

.mov{
    width: 220px;
    height: 180px;
    margin-right: 10px;
    background-color: rgba(0, 255, 255, 0.216);
}